<%
  const links = [
    { href: "/", text: "Home" },
    { href: "/signup", text: "Sign Up" }, 
    { href: "/login", text: "Login" },
    { href: "/folders", text: "My Folders" },
    { href: "/logout", text: "Logout" }
  ]
  const userLinks = ["/upload", "/folders", "/logout"]
  const beforeLoginLinks = ["/signup", "/login"]
%>

<nav>
  <ul>
    <% for (let i = 0; i < links.length; i++) { %>
      <% if (
        !locals.user && userLinks.includes(links[i].href)
        || user && beforeLoginLinks.includes(links[i].href)  
      ) { %>
      <% } else { %>
        <li>
          <a href="<%= links[i].href %>">
            <span><%= links[i].text %></span>
          </a>
        </li>
      <% } %>
    <% } %>
  </ul>
</nav>